body{
    background: yellow;
}
header{

    color: #e80505;
    width: 100%;
    top: 0;

}


/*header>nav>ul{*/
/*    position: absolute;*/
/*    right: 0;*/
/*}*/

/*header>nav>ul>li{*/
/*    display: inline-block;*/
/*    margin-left: 0px;*/
/*    margin-right: 55px;*/
/*    font-size: 160%;*/
/*    font-weight: bold;*/
/*}*/

/*.cover{*/
/*    position: relative;*/
/*    left: -240px;*/
/*    top: -75px;*/
/*    width: 85vw;*/
/*    height: 105vh;*/
/*}*/

/*.sithum{*/
/*    position: absolute;*/
/*    left: 13%;*/
/*    width: 25vw;*/
/*    height: 32vh;*/
/*    top:26%;*/
/*}*/

/*section>section>p.first{*/
/*    position: absolute;*/
/*    font-size: 320%;*/
/*    right: 2%;*/
/*    top:10%;*/
/*    color: blue;*/


/*}*/
/*section>section>p.secound{*/
/*    position: absolute;*/
/*    font-size: 220%;*/
/*    right: 15%;*/
/*    top:25%;*/
/*    color: #4848d0;*/

/*}*/

/*.favorite_styled{*/
/*    position: absolute;*/
/*    right: 7%;*/
/*    top: 50%;*/
/*    width: 30%;*/
/*    height: 10%;*/
/*    color: white;*/
/*    background: #e80505;*/
/*    border-radius:   20px ;*/
/*    font-size: 40px;*/
/*}*/

/*#follow{*/
/*    position: absolute;*/
/*    right: 17%;*/
/*    font-size: 300%;*/
/*    top: 67%;*/
/*}*/

/*section>section>div:nth-child(2)>div{*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    left: 62%;*/
/*    top: -270px;*/




/*}*/
/*section>section>div:nth-child(2)>div>a>img{*/
/*    width: 3vw;*/
/*    height: 4vh;*/
/*    margin: 10px;*/
/*    position: relative;*/
/*    top: 10px;*/

/*}*/
h1{
    color: #e80505;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 20px;
}
.aboutMe{
    top: -100px;
}

#abboutP1{
    font-size: 32.5px;
    text-align: justify;
   margin-right: 10%;
    margin-left: 10%;
}

#abboutUl2{
    font-size: 31px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8%;
    list-style-type: "";


}

#abboutUl2>li{

    margin-bottom: 3px;
}
.favorite_styled2{
    position: relative;
    left: 80%;
    width: 12vw;
    height: 6vh;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 30px;


}

.education_pic{
    position: relative;
    width:100px;
    height:75px;
    left: 3%;
    top: 50px;
}

.education_pic2{
    width:30px;
    height:25px;
    position: absolute;
    right :30%;
    width:100px;
    height:75px;

}

h2{
    text-align: center;
    width: 250px;
    position: relative;
    top: -60px;
    left:145px;
    font-size: 20px;
}

/*section>article{*/
/*    text-align: center;*/
/*    position: relative;*/
/*    top:-80px;*/
/*    left:-440px;*/
/*}*/

h6{
    position: relative;
    left:90%;
    width: 10px;
    font-size: 20px;
}

section>nav>ul{
    list-style-type: "";
    margin-top: 100px;
    margin-bottom: 200px;

}

section>nav>ul>li{
    font-size: 25px;

    margin-top: 60px;
    margin-left: 30px;
}

/*section>nav>div{*/
/*    position: absolute;*/
/*    right: 100px;*/
/*    top:303%;*/
/*}*/

section>nav>div>textarea{
    margin: 28px;
    width: 400px;
    border-radius: 15px;
    color: red;

}

#contactTA4{
    height: 100px;
}

#logos{
    position: relative;
    width: 400px;
    top:-80px;


}
#logos>a>img{
    position: relative;
    left: 100px;
    margin: 10px;

}

#btnSend{
    position: relative;
    left: 75%;
    top: -135px;
    width: 10vw;
    height: 6vh;
    background: #e80505;
    color: white;
    border-radius: 10px;
    font-size: 20px;

}

h3{
    position: relative;
    top:100px;
    left: 100px;
    margin: 30px;
    width: 500px;
}

/*div#Tool>img {*/
/*    position: relative;*/
/*    margin-left: 40px;*/
/*    width: 250px;*/
/*    left: 400px;*/
/*    height: 180px;*/

/*}*/


/*div#language>img{*/
/*    position: relative;*/
/*    margin-left: 40px;*/
/*    width: 250px;*/
/*    left: 400px;*/
/*    height: 180px;*/

/*}*/

/*#project{*/

/*    position: relative;*/
/*    left: 520px;*/
/*    width: 100px;*/
/*}*/

/*.text{*/
/*    position: relative;*/
/*    top: 60px;*/
/*   left: 620px;*/
/*    width: 200px;*/

/*}*/

#assignment>a>img{
    position: relative;
    margin-left: 150px;
    margin-top: 10px;
    width: 250px;
    height: 250px;
}
#photos>img{
    position: relative;
    margin: 10px;
    width: 450px;
    height: 280px;
}


@media all and (max-width: 320px) {
}




    @media all and (min-width: 320px) and (max-width: 375px){

    }



    @media all and (min-width: 375px) and (max-width: 425px) {

    }

    @media all and (min-width: 425px) and (max-width: 768px) {

    }


    @media all and (min-width: 768px) and (max-width: 1024px) {

    }


    @media all and (min-width: 1024px) and (max-width: 1440px) {


        .cover {
            position: relative;
            left: -10px;
            top: -10px;
            height: 95vh;
            width: 50vw;
        }

        .sithum {
            position: absolute;
            left: 7%;
            width: 25vw;
            height: 40vh;
            top: 31.3%;
        }


        header > nav > ul {
            position: absolute;
            right: 0;
        }


        header > nav > ul > li {
            display: inline-block;
            margin-left: 45px;
            margin-right: 10px;
            font-size: 190%;
            font-weight: bold;
        }


        section > section > p.first {
            position: absolute;
            font-size: 58px;
            right: 1%;
            top: 14%;
            /* left: 24%; */
            color: blue;
        }
        section>section>p.secound {
            position: absolute;
            font-size: 45px;
            right: 10%;
            top: 25%;
            color: #4848d0;
        }
        .favorite_styled {
            position: absolute;
            right: 6%;
            top: 60%;
            width: 20%;
            height: 10%;
            color: white;
            background: #e80505;
            border-radius: 20px;
            font-size: 40px;

        }
        #follow {
            position: absolute;
            right: 8%;
            font-size: 300%;
            top: 75%;

        }

        section>section>div:nth-child(2)>div {
            display: inline-block;
            position: relative;
            left: 74%;
            top: -100px;
        }


        section>section>div:nth-child(2)>div>a>img{
            width: 3vw;
            height: 4vh;
            margin: 6px;
            position: relative;
            top: 10px;

        }

        section>article {
            text-align: center;
            position: relative;
            top: -80px;
            left: -377px;
        }

        section>nav>div {
            position: absolute;
            right: 100px;
            top: 290%;
        }

        div#language>img {
            position: relative;
            margin-left: 100px;
            width: 250px;
            left: 150px;
            height: 180px;
        }

        div#Tool>img {
            position: relative;
            margin-left: 100px;
            width: 250px;
            left: 100px;
            height: 180px;
        }

        #project{

            position: relative;
            left: 470px;
            width: 100px;
        }

        .text{
            position: relative;
            top: 60px;
            left: 590px;
            width: 200px;

        }


    }






