body{
    background: yellow;
}
header{

    color: #e80505;
    width: 100%;
    top: 0;

}


h1{
    color: #e80505;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 20px;
}
.aboutMe{
    top: -100px;
}


#abboutUl2>li{

    margin-bottom: 3px;
}
.favorite_styled2{
    position: relative;
    left: 80%;
    width: 12vw;
    height: 6vh;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 30px;


}

.education_pic{
    position: relative;
    width:100px;
    height:75px;
    left: 3%;
    top: 50px;
}

.education_pic2{
    width:30px;
    height:25px;
    position: absolute;
    right :30%;
    width:100px;
    height:75px;

}



h6{
    position: relative;
    left:90%;
    width: 10px;
    font-size: 20px;
}

section>nav>ul{
    list-style-type: "";
    margin-top: 100px;
    margin-bottom: 200px;

}

section>nav>ul>li{
    font-size: 25px;

    margin-top: 60px;
    margin-left: 30px;
}


section>nav>div>textarea{
    margin: 28px;
    width: 400px;
    border-radius: 15px;
    color: red;

}

#contactTA4{
    height: 100px;
}

#logos{
    position: relative;
    width: 400px;
    top:-80px;


}
#logos>a>img{
    position: relative;
    left: 100px;
    margin: 10px;

}

#btnSend{
    position: relative;
    left: 75%;
    top: -135px;
    width: 10vw;
    height: 6vh;
    background: #e80505;
    color: white;
    border-radius: 10px;
    font-size: 20px;

}

h3{
    position: relative;
    top:100px;
    left: 100px;
    margin: 30px;
    width: 500px;
}


#assignment>a>img{
    position: relative;
    margin-left: 150px;
    margin-top: 10px;
    width: 250px;
    height: 250px;
}
#photos>img{
    position: relative;
    margin: 10px;
    width: 450px;
    height: 280px;
}


@media all and (max-width: 320px) {
}




    @media all and (min-width: 320px) and (max-width: 375px){

    }



    @media all and (min-width: 375px) and (max-width: 425px) {

    }

    @media all and (min-width: 425px) and (max-width: 768px) {

    }


    @media all and (min-width: 768px) and (max-width: 1024px) {
        .cover {
            position: relative;
            left: -20px;
            top: -30px;
            height: 80vh;
            width: 50vw;
        }

        .sithum {
            position: absolute;
            left: 4%;
            width: 27vw;
            height: 30.5vh;
            top: 27%;
        }


        header > nav > ul {
            position: absolute;
            right: 0;
        }


        header > nav > ul > li {
            display: inline-block;
            margin-left: 25px;
            margin-right: 5px;
            font-size: 150%;
            font-weight: bold;
        }

    }
section > section > p.first {
    position: absolute;
    font-size: 45px;
    right: 1%;
    top: 14%;
    /* left: 24%; */
    color: blue;
}
section>section>p.secound {
    position: absolute;
    font-size: 35px;
    right: 10%;
    top: 25%;
    color: #4848d0;
}
.favorite_styled {
    position: absolute;
    right: 9%;
    top: 55%;
    width: 20%;
    height: 10%;
    color: white;
    background: #e80505;
    border-radius: 20px;
    font-size: 26px;

}
#follow {
    position: absolute;
    right: 12%;
    font-size: 200%;
    top: 65%;

}

section>section>div:nth-child(2)>div {
    display: inline-block;
    position: relative;
    left: 71.5%;
    top: -110px;
}


section>section>div:nth-child(2)>div>a>img{
    width: 3vw;
    height: 4vh;
    margin: 3px;
    position: relative;
    top: 10px;

}

section>article {
    text-align: center;
    position: relative;
    top: -80px;
    left: -237px;
}

section>nav>div {
    position: absolute;
    right: 100px;
    top: 290%;
}

#abboutP1{
    font-size: 24px;
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
}

#abboutUl2{
    font-size: 23px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8%;
    list-style-type: "";


}


#AL{

    text-align: right;
    position:relative ;
    left: 640px;
    top: -35px;
}

#ALD{
    top: -45px;
    left: 325px;
}




h2{
    text-align: center;
    width: 250px;
    position: relative;
    top: -60px;
    left:135px;
    font-size: 18px;
}

#Ini{
    position: absolute;
    top: 168%;
    right: 0;
    left: 0;
    margin: auto;
}

    @media all and (min-width: 1025px) and (max-width: 1440px) {


        .cover {
            position: relative;
            left: -10px;
            top: -10px;
            height: 95vh;
            width: 50vw;
        }

        .sithum {
            position: absolute;
            left: 7%;
            width: 25vw;
            height: 40vh;
            top: 31.3%;
        }


        header > nav > ul {
            position: absolute;
            right: 0;
        }


        header > nav > ul > li {
            display: inline-block;
            margin-left: 45px;
            margin-right: 10px;
            font-size: 190%;
            font-weight: bold;
        }


        section > section > p.first {
            position: absolute;
            font-size: 58px;
            right: 1%;
            top: 14%;
            /* left: 24%; */
            color: blue;
        }
        section>section>p.secound {
            position: absolute;
            font-size: 45px;
            right: 10%;
            top: 25%;
            color: #4848d0;
        }
        .favorite_styled {
            position: absolute;
            right: 6%;
            top: 60%;
            width: 20%;
            height: 10%;
            color: white;
            background: #e80505;
            border-radius: 20px;
            font-size: 40px;

        }
        #follow {
            position: absolute;
            right: 8%;
            font-size: 300%;
            top: 75%;

        }

        section>section>div:nth-child(2)>div {
            display: inline-block;
            position: relative;
            left: 74%;
            top: -100px;
        }


        section>section>div:nth-child(2)>div>a>img{
            width: 3vw;
            height: 4vh;
            margin: 6px;
            position: relative;
            top: 10px;

        }

        section>article {
            text-align: center;
            position: relative;
            top: -80px;
            left: -377px;
        }

        section>nav>div {
            position: absolute;
            right: 100px;
            top: 290%;
        }

        div#language>img {
            position: relative;
            margin-left: 100px;
            width: 250px;
            left: 150px;
            height: 180px;
        }

        div#Tool>img {
            position: relative;
            margin-left: 100px;
            width: 250px;
            left: 100px;
            height: 180px;
        }

        #project{

            position: relative;
            left: 470px;
            width: 100px;
        }

        .text{
            position: relative;
            top: 60px;
            left: 590px;
            width: 200px;

        }

        #abboutP1{
            font-size: 32.5px;
            text-align: justify;
            margin-right: 10%;
            margin-left: 10%;
        }

        #abboutUl2{
            font-size: 31px;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 8%;
            list-style-type: "";


        }



        #AL{

            text-align: right;
            position:relative ;
            left: 970px;
            top: -50px;
        }

        #ALD{
            top: -65px;
            left: 450px;
        }

        h2{
            text-align: center;
            width: 250px;
            position: relative;
            top: -60px;
            left:215px;
            font-size: 20px;
        }
    }

#Ini{
    position: absolute;
    top:200%;
    right:0;
    left: 0 ;
    margin: auto
}






